/* Reset de estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globales */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Agregar aquí otros estilos globales que sean necesarios */
